
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-585918008296211147.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-585918008296211147.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-585918008296211147.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-585918008296211147.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-585918008296211147.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-585918008296211147.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-585918008296211147.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-585918008296211147.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-585918008296211147.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-585918008296211147.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-585918008296211147.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-585918008296211147.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-585918008296211147.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-585918008296211147.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-585918008296211147.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-585918008296211147.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-585918008296211147.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-585918008296211147.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-585918008296211147.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-585918008296211147.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-585918008296211147.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-585918008296211147.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-585918008296211147.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-585918008296211147.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-585918008296211147.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-585918008296211147.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-585918008296211147.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-585918008296211147.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-585918008296211147.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-585918008296211147.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-585918008296211147.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-585918008296211147.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-585918008296211147.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-585918008296211147.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-585918008296211147.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-585918008296211147.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-585918008296211147.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-585918008296211147.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-585918008296211147.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-585918008296211147.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-585918008296211147.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-585918008296211147.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-585918008296211147.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-585918008296211147.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-585918008296211147.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-585918008296211147.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-585918008296211147.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-585918008296211147.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-585918008296211147.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-585918008296211147.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-585918008296211147.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-585918008296211147.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-585918008296211147.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-585918008296211147.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-585918008296211147.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-585918008296211147.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-585918008296211147.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-585918008296211147.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-585918008296211147.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-585918008296211147.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-585918008296211147.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-585918008296211147.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-585918008296211147.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-585918008296211147.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-585918008296211147.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-585918008296211147.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-585918008296211147.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-585918008296211147.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-585918008296211147.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-585918008296211147.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-585918008296211147.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-585918008296211147.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-585918008296211147.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-585918008296211147.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-585918008296211147.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-585918008296211147.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-585918008296211147.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-585918008296211147.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-585918008296211147.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-585918008296211147.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-585918008296211147.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-585918008296211147.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-585918008296211147.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-585918008296211147.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-585918008296211147.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-585918008296211147.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-585918008296211147.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-585918008296211147.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-585918008296211147.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-585918008296211147.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-585918008296211147.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-585918008296211147.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-585918008296211147.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-585918008296211147.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-585918008296211147.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-585918008296211147.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-585918008296211147.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-585918008296211147 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-585918008296211147 .gp-fixed{position:fixed}.gps-585918008296211147 .gp-relative{position:relative}.gps-585918008296211147 .gp-top-\[27px\]{top:27px}.gps-585918008296211147 .gp-z-1{z-index:1}.gps-585918008296211147 .gp-z-\[100\]{z-index:100}.gps-585918008296211147 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-585918008296211147 .gp-mb-0{margin-bottom:0}.gps-585918008296211147 .gp-block{display:block}.gps-585918008296211147 .gp-inline-block{display:inline-block}.gps-585918008296211147 .gp-flex{display:flex}.gps-585918008296211147 .gp-inline-flex{display:inline-flex}.gps-585918008296211147 .gp-grid{display:grid}.gps-585918008296211147 .gp-contents{display:contents}.gps-585918008296211147 .\!gp-hidden{display:none!important}.gps-585918008296211147 .gp-hidden{display:none}.gps-585918008296211147 .gp-h-auto{height:auto}.gps-585918008296211147 .gp-h-full{height:100%}.gps-585918008296211147 .gp-w-full{width:100%}.gps-585918008296211147 .gp-max-w-full{max-width:100%}.gps-585918008296211147 .gp-flex-none{flex:none}.gps-585918008296211147 .gp-shrink-0{flex-shrink:0}.gps-585918008296211147 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-585918008296211147 .gp-flex-col{flex-direction:column}.gps-585918008296211147 .gp-items-center{align-items:center}.gps-585918008296211147 .gp-justify-start{justify-content:flex-start}.gps-585918008296211147 .gp-justify-center{justify-content:center}.gps-585918008296211147 .gp-overflow-hidden{overflow:hidden}.gps-585918008296211147 .gp-break-words{overflow-wrap:break-word}.gps-585918008296211147 .gp-rounded{border-radius:4px}.gps-585918008296211147 .\!gp-bg-none{background-image:none!important}.gps-585918008296211147 .gp-p-\[16px\]{padding:16px}.gps-585918008296211147 .gp-text-\[14px\]{font-size:14px}.gps-585918008296211147 .gp-leading-normal{line-height:1.5}.gps-585918008296211147 .gp-no-underline{text-decoration-line:none}.gps-585918008296211147 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-585918008296211147 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585918008296211147 .gp-duration-200{transition-duration:.2s}.gps-585918008296211147 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-585918008296211147 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-585918008296211147 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-585918008296211147 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-585918008296211147 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-585918008296211147 .tablet\:gp-block{display:block}.gps-585918008296211147 .tablet\:\!gp-hidden{display:none!important}.gps-585918008296211147 .tablet\:gp-hidden{display:none}.gps-585918008296211147 .tablet\:gp-h-auto{height:auto}.gps-585918008296211147 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-585918008296211147 .mobile\:gp-block{display:block}.gps-585918008296211147 .mobile\:\!gp-hidden{display:none!important}.gps-585918008296211147 .mobile\:gp-hidden{display:none}.gps-585918008296211147 .mobile\:gp-h-auto{height:auto}.gps-585918008296211147 .mobile\:gp-flex-none{flex:none}}.gps-585918008296211147 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-585918008296211147 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-585918008296211147 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-585918008296211147 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-585918008296211147 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-585918008296211147 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EBEEFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g-mUysEwUt"}' data-id="g-mUysEwUt" id="g-mUysEwUt" data-same-height-subgrid-container class="g-mUysEwUt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--pt:100px;--pl:80px;--pb:100px;--pr:80px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:72px;--pl-mobile:20px;--pb-mobile:72px;--pr-mobile:20px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:72px;--pl-tablet:40px;--pb-tablet:72px;--pr-tablet:40px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EBEEFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gC7XSjEeVY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCyjjUmxrr"}' data-id="gCyjjUmxrr" id="gCyjjUmxrr" data-same-height-subgrid-container class="gCyjjUmxrr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:30px;--cg-tablet:40px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gel5ZO8hZo gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gRjRfIVFle"}' data-id="gRjRfIVFle" id="gRjRfIVFle" data-same-height-subgrid-container class="gRjRfIVFle gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:32px;--pr:100px;--mb-mobile:var(--g-s-xl);--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g4-RjLkDyM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g494bXXtlB"
        class="g494bXXtlB"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#343454;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg494bXXtlB_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVSexHHBSI"
        class="gVSexHHBSI"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:20px;--mb-tablet:28px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVSexHHBSI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div class="gp-mx-auto gp-max-w-full" style="--w:100%;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bc:#121212;--bw:1px 1px 1px 1px;--bs:none;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px">
      <gp-form
        data-id="gg5K-e048C" id="gg5K-e048C" data-submit-action="stay-on-page"
        data-callback='{"link":"","target":"_self","type":"stay-on-page"}'
      >
        <a
          hidden="true" id="gp-form-callback-gg5K-e048C"
        >
        </a>
        {% form 'customer', class: 'gp-form-gg5K-e048C ', id: 'contact_form_gg5K-e048C' %}
          {% if form.errors %}
            <div
              id="gp-form-error-gg5K-e048C"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#FFE9E9;left:50%;transform:translateX(-50%)"
            >
              {{ section.settings.ggg5K-e048C_errorMessage }}
            </div>
          {% endif %}
          <div popover id="my-popover-gg5K-e048C">
            <style>
              
    #my-popover-gg5K-e048C::backdrop {
      width: fit-content;
      height: fit-content;
    }
  
            </style>
            <div
              id="gp-form-success-gg5K-e048C"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#F2FFEC;left:50%;transform:translateX(-50%)"
            >
              {{ section.settings.ggg5K-e048C_successMessage }}
            </div>
          </div>
          
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"glX5PJTkLR"}' data-id="glX5PJTkLR" id="glX5PJTkLR" data-same-height-subgrid-container class="glX5PJTkLR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:0px;--cg-mobile:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 10fr) minmax(0, 2fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRGcifWs0i gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="gvS00A7ALk"
      class="gvS00A7ALk flex flex-col"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      
      <input
        type="email"
        class="gp-form-item !gp-outline-none !gp-bg-none email-form-gvS00A7ALk"
        style="--w:313px;--w-tablet:313px;--w-mobile:100%;--h:auto;--pl:24px;--pr:24px;--pt:10px;--pb:10px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:10px;--pb-mobile:10px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--bs:solid;--bw:1px 0px 1px 1px;--bc:rgba(52, 52, 84, 0.4);--bblr:6px;--bbrr:0px;--btlr:6px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.ggvS00A7ALk_placeholder }}"
        name="contact[email]"
        required
        autocomplete="email"
        
      ></input>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gDSH7Op6eP gp-relative gp-flex gp-flex-col"
    >
      
    
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="glTTGDfmCc"].gp-button-base::before, [data-id="glTTGDfmCc-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: rgba(52, 52, 84, 0.4);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 0px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="glTTGDfmCc"]:hover::before, [data-id="glTTGDfmCc-interaction"]:hover::before {
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
  }</style>
        
        <button
          data-id="glTTGDfmCc" dataId="glTTGDfmCc" data-state="idle" aria-label
          
          type="submit"
          style="--w:46px;--w-tablet:46px;--w-mobile:100%;--h:46px;--h-tablet:46px;--h-mobile:43px;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--pt-mobile:0px;--pb-mobile:0px;--bblr:0px;--bbrr:6px;--btlr:0px;--btrr:6px;--hvr-bblr:0px;--hvr-bbrr:6px;--hvr-btlr:0px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#261591;--bg:#3f4ba0;--hvr-c:#f5f6ff;--c:#f5f6ff;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal"
          class="glTTGDfmCc gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word;--mr:0px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg data-id="568705558496937187" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
<rect x="0.75" y="0.75" width="24.5" height="24.5" rx="12.25" stroke="white" stroke-width="1.5"/>
<path d="M10.377 6.55469C10.4714 6.55472 10.5651 6.5732 10.6523 6.60938L10.7773 6.67676C10.8162 6.70278 10.8526 6.73241 10.8857 6.76562L16.5215 12.4014L16.6113 12.5107C16.6374 12.5497 16.6597 12.5912 16.6777 12.6348C16.714 12.7222 16.7324 12.8165 16.7324 12.9111C16.7324 13.0057 16.714 13.0992 16.6777 13.1865C16.6596 13.2303 16.6376 13.2723 16.6113 13.3115L16.5215 13.4199L10.8857 19.0557C10.7507 19.1906 10.5678 19.2665 10.377 19.2666C10.1859 19.2666 10.0023 19.1907 9.86719 19.0557C9.73218 18.9206 9.65625 18.7369 9.65625 18.5459C9.65636 18.3551 9.73232 18.1721 9.86719 18.0371L14.9941 12.9102L9.86719 7.78418C9.8004 7.71743 9.74713 7.638 9.71094 7.55078C9.67476 7.4635 9.65628 7.36988 9.65625 7.27539C9.65625 7.18074 9.67466 7.08645 9.71094 6.99902L9.77832 6.875C9.80446 6.83597 9.83378 6.79898 9.86719 6.76562L9.97656 6.67676C10.0157 6.65058 10.0569 6.62751 10.1006 6.60938L10.2363 6.56836C10.2824 6.55919 10.3297 6.55469 10.377 6.55469Z" fill="white" stroke="white" stroke-width="0.5"/>
</svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
  
    </div>

      
    </gp-row>
  
  
        {% endform %}
      </gp-form>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-form-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gR9l6u34zT"}' data-id="gR9l6u34zT" id="gR9l6u34zT" data-same-height-subgrid-container class="gR9l6u34zT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-3xl);--cg:16px;--cg-tablet:14px;--cg-mobile:24px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gdzp48G8Qa gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gPkmVlab_H"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1773500601298 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gPkmVlab_H"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_585232686923121309-bfb0e372-0537-4fda-b375-5655021b4b17.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_585232686923121309-bfb0e372-0537-4fda-b375-5655021b4b17.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="Image Title" base-src="{{ "gempages_585232686923121309-bfb0e372-0537-4fda-b375-5655021b4b17.svg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_585232686923121309-bfb0e372-0537-4fda-b375-5655021b4b17.svg" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:fill;--w:24px;--w-tablet:32px;--w-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gLF-8JE93c gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gHqOCVtieb"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1773500601299 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gHqOCVtieb"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_585232686923121309-a0af92bb-a765-4b44-b0ad-fa3f73f23fa1.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_585232686923121309-a0af92bb-a765-4b44-b0ad-fa3f73f23fa1.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="Image Title" base-src="{{ "gempages_585232686923121309-a0af92bb-a765-4b44-b0ad-fa3f73f23fa1.svg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_585232686923121309-a0af92bb-a765-4b44-b0ad-fa3f73f23fa1.svg" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:fill;--w:24px;--w-tablet:32px;--w-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gTAB4pFoK5 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gZBwfQwl-X"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1773500601300 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gZBwfQwl-X"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_585232686923121309-b6834793-6370-4e79-a245-651161096b66.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_585232686923121309-b6834793-6370-4e79-a245-651161096b66.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="Image Title" base-src="{{ "gempages_585232686923121309-b6834793-6370-4e79-a245-651161096b66.svg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_585232686923121309-b6834793-6370-4e79-a245-651161096b66.svg" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:fill;--w:24px;--w-tablet:32px;--w-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g9dta7DlO2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gsHzSY3RTd"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1773500601301 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsHzSY3RTd"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_585232686923121309-d81666c4-ef06-41d6-8eaf-7adf5a751d7f.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_585232686923121309-d81666c4-ef06-41d6-8eaf-7adf5a751d7f.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="Image Title" base-src="{{ "gempages_585232686923121309-d81666c4-ef06-41d6-8eaf-7adf5a751d7f.svg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0LTI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjZy0yNC0yNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0IiB0bz0iMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_585232686923121309-d81666c4-ef06-41d6-8eaf-7adf5a751d7f.svg" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:fill;--w:24px;--w-tablet:32px;--w-mobile:21px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gOGJDJkwyt gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gevBjvnEOX"}' data-id="gevBjvnEOX" id="gevBjvnEOX" data-same-height-subgrid-container class="gevBjvnEOX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:var(--g-s-4xl);--pl-mobile:0px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guVaT2pAJ1 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjN0kkXlVv"
        class="gjN0kkXlVv"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#343454;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjN0kkXlVv_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzk6PKMCDF"
        class="gzk6PKMCDF"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzk6PKMCDF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6p7vQQwtb"
        class="g6p7vQQwtb"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6p7vQQwtb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6afVdHdfv"
        class="g6afVdHdfv"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6afVdHdfv_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUuuL1u6ww"
        class="gUuuL1u6ww"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUuuL1u6ww_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gCU4ABZaiK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g17R2KdwOR"
        class="g17R2KdwOR"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--size:20px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#343454;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg17R2KdwOR_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwlmtMXYFr"
        class="gwlmtMXYFr"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwlmtMXYFr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glqY85tUYh"
        class="glqY85tUYh"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglqY85tUYh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gThndMiwMb"
        class="gThndMiwMb"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggThndMiwMb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g43oyuC1Da"
        class="g43oyuC1Da"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg43oyuC1Da_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZluMliHuk"}' data-id="gZluMliHuk" id="gZluMliHuk" data-same-height-subgrid-container class="gZluMliHuk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQ_Go0avEA gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pb:var(--g-s-2xl);--pt-tablet:40px;--pb-tablet:28px" class="gSr98LxmWQ ">
      
    <div data-id="gSr98LxmWQ" class="gp-flex gp-justify-start">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#E0E0E0" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#E0E0E0;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#E0E0E0;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvozsNbTro"}' data-id="gvozsNbTro" id="gvozsNbTro" data-same-height-subgrid-container class="gvozsNbTro gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gZpkhFMH8j gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV_UdlxQFl"
        class="gV_UdlxQFl"
        style="--ta:left;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggV_UdlxQFl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="gjAygOvVP0 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gnMiKhJj_P"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:6px;--ta:right;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1773500601310 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gnMiKhJj_P"
    >
      <div
        
        style="border-radius:inherit;--jc:right;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_585232686923121309-cf200b20-26f7-424f-a23c-6dad89fd4553.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTk0IiBoZWlnaHQ9IjYzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01OTQtNjMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjU5NCIgaGVpZ2h0PSI2MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTk0IiBoZWlnaHQ9IjYzIiBmaWxsPSJ1cmwoI2ctNTk0LTYzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTk0IiB0bz0iNTk0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_585232686923121309-cf200b20-26f7-424f-a23c-6dad89fd4553.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTk0IiBoZWlnaHQ9IjYzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01OTQtNjMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjU5NCIgaGVpZ2h0PSI2MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTk0IiBoZWlnaHQ9IjYzIiBmaWxsPSJ1cmwoI2ctNTk0LTYzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTk0IiB0bz0iNTk0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        title="Image Title" base-src="{{ "gempages_585232686923121309-cf200b20-26f7-424f-a23c-6dad89fd4553.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTk0IiBoZWlnaHQ9IjYzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01OTQtNjMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjU5NCIgaGVpZ2h0PSI2MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTk0IiBoZWlnaHQ9IjYzIiBmaWxsPSJ1cmwoI2ctNTk0LTYzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTk0IiB0bz0iNTk0IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_585232686923121309-cf200b20-26f7-424f-a23c-6dad89fd4553.png" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:fill;--w:250px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-585918008296211147 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/r-by-ryan/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=585917990160040733&sectionId=585918008296211147)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg494bXXtlB_text","label":"gg494bXXtlB_text","default":"Our emails are plastic-free too."},{"type":"html","id":"ggVSexHHBSI_text","label":"ggVSexHHBSI_text","default":"<p>By submitting your email, you agree to receive emails from Leaf and accept our&nbsp;<a href=\"#\"><u>Terms of Use</u></a>&nbsp;and our&nbsp;<a href=\"3\"><u>Privacy Policy</u></a>.</p>"},{"type":"html","id":"ggg5K-e048C_successMessage","label":"ggg5K-e048C_successMessage","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"ggg5K-e048C_errorMessage","label":"ggg5K-e048C_errorMessage","default":"Can’t send email. Please try again later."},{"type":"html","id":"ggvS00A7ALk_placeholder","label":"ggvS00A7ALk_placeholder","default":"Email"},{"type":"html","id":"ggjN0kkXlVv_text","label":"ggjN0kkXlVv_text","default":"<p>Company</p>"},{"type":"html","id":"ggzk6PKMCDF_text","label":"ggzk6PKMCDF_text","default":"<p><a href=\"#\">About</a></p>"},{"type":"html","id":"gg6p7vQQwtb_text","label":"gg6p7vQQwtb_text","default":"<p><a href=\"#\">Contact</a></p>"},{"type":"html","id":"gg6afVdHdfv_text","label":"gg6afVdHdfv_text","default":"<p><a href=\"#\">Shipping &amp; Return</a></p>"},{"type":"html","id":"ggUuuL1u6ww_text","label":"ggUuuL1u6ww_text","default":"<p><a href=\"#\">FAQs</a></p>"},{"type":"html","id":"gg17R2KdwOR_text","label":"gg17R2KdwOR_text","default":"<p>Information</p>"},{"type":"html","id":"ggwlmtMXYFr_text","label":"ggwlmtMXYFr_text","default":"<p><a href=\"#\">My Account</a></p>"},{"type":"html","id":"gglqY85tUYh_text","label":"gglqY85tUYh_text","default":"<p><a href=\"#\">Login</a></p>"},{"type":"html","id":"ggThndMiwMb_text","label":"ggThndMiwMb_text","default":"<p><a href=\"#\">My Cart</a></p>"},{"type":"html","id":"gg43oyuC1Da_text","label":"gg43oyuC1Da_text","default":"<p><a href=\"#\">Checkout</a></p>"},{"type":"html","id":"ggV_UdlxQFl_text","label":"ggV_UdlxQFl_text","default":"<p>© 2025, Gemix.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}